@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Contact: 03184164361</p>
<p>Office Location: Main Ghazi Rd, Khuda Buksh Colony, Lahore, Punjab 54792</p>
<p> Business inquiries and complains: Umair3215@gmail.com</p>

<p>Use this area to provide additional information.</p>
