@{
    ViewBag.Title = "Home Page";
}
<body style="color:#cda45e;background-color:black; ">
    <div class="jumbotron">
        <h1>Where you make deals worth a fortune</h1>
        <p class="lead">Join the worlds fastest growing marketplace either as a consumer or as a seller </p>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-lg"> Join us &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting Started</h2>
            <p>
                Create an account whether you want to join us as a seller or user. Indulge and trade with market according to rapidly changing market values
            </p>
            <p>
                <a class="btn btn-default" href=""/Auth/SignUp""> Sign up &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Tracking facility</h2>
            <p>
                You can track your orders on the go with our tracking system to stay intouch with your product
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949"> My orders &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Feedback</h2>
            <p>
                Every seller in this community has a rating . You can give us feedback and we try our best to filter out the best for you
            </p>
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950"> Ratings &raquo;</a>
            </p>
        </div>
    </div>
    </body>